.product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 240px;
    height: 330px;
    margin: 30px;
    border-radius: 8px;
    overflow: hidden;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.description {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: column;
    width: 100%;
    height: 40%;
    background-color: rgb(255, 255, 255);
}

.information {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    width: 100%;
}

.title {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 5px;
}

.text {
    display: -webkit-box;
    max-width: 100%;
    font-size: 13px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000000a9;
}

.cart {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 8px;
}

.price {
    position: absolute;
    color: rgb(0, 0, 0);
    left: 10px;
    bottom: 10px;
    font-size: 17px;
    font-weight: 900;
}
