.shopContain {
    width: 100%;
    height: auto;
    background-color: rgb(236, 205, 205);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.products {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}