.categoryContain {
    width: 100%;
    height: auto;
    background-color: rgb(253, 242, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

@media (max-width: 600px) {
    .categoryContain {
        flex-wrap: wrap;
    }
}